body {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
    background: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: rgb(148, 148, 148);
}

#links {
    display: flex;
    gap: 20px;
}