@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.header {
    display: flex;
    flex-direction: row;
    background: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-top: 10px;
}

#subheader {
    width: 50%;
}

#header2 {
    justify-content: space-evenly;
    padding-bottom: 75px;
}

#imageplaceholder {
    width: 300px;
    height: 150px;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
}

#signupbtn {
    background-color: rgb(65, 65, 204);
    color: white;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

#body1 {
    padding-bottom: 40px;
}

#body1header {
    display: flex;
    justify-content: center;
}

#imagetextcontainer {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

#imagetext1, #imagetext2, #imagetext3, #imagetext4 {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.imagerowtext {
    text-align: center;
    width: 75%;
    font-size: smaller;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid rgb(65, 65, 204);
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: rgb(148, 148, 148);
}

#links {
    display: flex;
    gap: 20px;
}

#body2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: lightgray;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footercontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: rgb(65, 65, 204);
    color: white;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

#footerheader {
    font-size: small;
}

#signupfooterbtn {
    background-color: rgb(65, 65, 204);
    color: white;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    border-color: white;
}